tr.selected {
	background: lightblue;
}
tr {
	cursor: default;
}

th:hover {
	cursor: pointer;
}

#error {
	color: red;
}

#success {
	color: green;	
}

a {
	color: blue;
	font-size: smaller;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	
}

body {
	font-family: "Times New Roman", Times, serif;
}

table {
	border-spacing: 0;
}


